.top {
    width: 100%;
    margin: 1rem auto;
    text-align: center;
    color: rgba(0, 0, 0, 0.562);
    .measured {
        p{
            color: rgba(245, 245, 245, 0.979);
            font-size: 2rem;
        }
      }
  }